<% if(typeof errors != 'undefined') { %>
  <% errors.forEach(error => { %> 
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="mb-0"><%= error.message %></p>
    </div>
  <% }) %> 
<% } %> 
<% if(success_msg != '') { %>
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="mb-0"><%= success_msg %></p>
    </div>
<% } %> 
<% if(error_msg != '') { %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="mb-0"><%= error_msg %></p>
    </div>
<% } %> 
<% if(error != '') { %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p class="mb-0"><%= error %></p>
    </div>
<% } %> 